
.my-main-thing {
  font-family: "Roboto Light";
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: aliceblue;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}

.my-temp {
  margin-bottom: 100px;
}
